/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Crete Round', serif;
    background-color: #222629;
}

html {
    scroll-behavior: smooth;
}

/* General button styling */
button {
    background-color: #222629;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1em;
    text-align: center;
    display: inline-block;
    margin: 20px auto; /* Center the button horizontally */
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

/* Specific styling for the Portfolio button */
button h4 {
    margin: 0; /* Remove default margin */
}

button h4 a {
    color: #aaabb8;
    text-decoration: none;
    display: block;
    transition: none; /* Remove transition effect */
}

button h4 a:hover {
    color: #fff; /* Ensure color stays the same on hover */
    text-decoration: none; /* Ensure no underline on hover */
    background-color: transparent; /* Ensure no background change */
}

.profile-picture {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

/* Header section */
#navbar {
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    position: fixed;
    width: 100vw;
    max-width: 100%;
}

.link {
    padding: 10px;
    height: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    background-color: #272727;
    color: #fff;
}

.link:active {
    background-color: #222629;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

a:hover {
    background-color: #272727;
    color: white;
    text-decoration: underline;
}

/* Welcome section */
#welcome-section {
    background-color: #1c1c1e;
    text-align: center;
    padding-top: 20%;
    height: 100vh;
    color: white;
    max-width: 100vw;
    margin-top: auto;
}

/* Project section */
#projects {
    background-color: black;
    text-align: center;
    padding: 10%;
    max-width: 100%;
}

#project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    background-color: #1c1c1e;
    border-radius: 3%;
}

.project-tile .image {
    height: 50%;
    overflow: hidden;
}

.project-tile .image img {
    width: 100%;
    height: auto;
}

.project-info {
    padding: 10px;
    color: #fff;
    background-color: #1c1c1e;

}

/* Contact section */
#contact {
    background-color: #222629;
    text-align: center;
    padding: 5%;
    max-width: 100%;
    color: #fff;
}

#contact h1 {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    font-size: 1.2em;
    margin-right: 10px;
}

input,
textarea {
    width: 80%;
    max-width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

textarea {
    padding-bottom: 30px;
    border-radius: 6px;
    resize: vertical;
}

textarea:focus {
    border-color: #555;
    outline: none;
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.3);
}

input::placeholder,
textarea::placeholder {
    color: #888;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

#contact-form button {
    background-color: #4CAF50; /* Matches the green from the hover effect */
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

/* Footer section */
footer {
    background-color: #222629;
    text-align: center;
    padding-top: 5%;
    height: 50vh;
    max-width: 100%;
    padding-bottom: 1%;
}

.icon {
    display: inline-block;
    margin-right: 25px;
    padding-left: 2%;
}

h5 {
    margin-bottom: 10px;
}

.img_text {
    color: #aaabb8;
    border-left: white;
    border-width: 10px;
}

.hover-zoom img {
    transition: transform 0.3s ease-in-out;
}

.hover-zoom:hover img {
    transform: scale(1.8);
}

/* Responsive styles */
@media (max-width: 768px) {
    #welcome-section {
        padding-top: 15%;
    }

    #projects {
        padding: 5%;
    }

    #contact {
        padding-top: 2%;
    }

    .project-tile {
        width: 80%;
        margin: 15px;
    }

    .image {
        max-width: 30%;
    }

    footer {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media (max-width: 480px) {
    #welcome-section {
        padding-top: 55%;
    }

    #projects {
        padding-bottom: 75%;
    }

    #contact {
        padding-top: 15%;
        padding-bottom: 2%;
    }

    .project-tile {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .image {
        max-width: 80%;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        }

    .link {
        padding: 10px;
        width: 100%;
    }

    footer {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}
